:before,
:after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span, p, a {
    font-family: 'Roboto', sans-serif;
}

.h-100 {
    height: 100%;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.d-flex__align-items--center {
    align-items: center !important;
}
* {
    transition: all, 0.5s;
}

.d-flex__align-items--center {
    align-items: center;
}

.d-flex__direction--row-reverse {
    flex-direction: row-reverse;
}

.text-link:hover .text-link--label {
    display: inline-block;
    margin-right: 11px;
}

.text-link--label {
    display: none;
}


.last-post .post--info {
    margin-top: 25px;
    margin-bottom: 25px;
}

.popular-post .article--date {
    margin: 0;
}

.last-post .article--text-category {
    margin: 0;
}

.popular-post .post--info {
    margin-top: 25px;
    margin-bottom: 25px;
}

.popular-post .article--text-category {
    margin: 0;
}

.last-post .article--date {
    margin: 0;
}

.header {
    height: 100px;
    padding: 0 135px;
}

.header-logo {
    margin-right: 13px;
}

body {
    font-family: 'Red Hat Display', sans-serif;
}

.main--text {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
}

.main--title {
    margin-top: 90px;
}

a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #1C1C1C;
    display: block;
}

.info-link-item {
    font-weight: 400;
    font-size: 23px;
    line-height: 38px;
    letter-spacing: 0.1em;
    max-width: 470px;
    display: block;
}

ul.nav-list {
    list-style: none;
}

.d-flex__justify--space-around {
    justify-content: space-around;
}

.d-flex__justify--center {
    justify-content: center;
}

.background {
    max-height: 600px;
    z-index: 0;
}

.background--image {
    width: 100%;
    height: 100%;
}

.background--text {
    position: absolute;
    top: 200px;
    left: 135px;
    max-width: 770px;
    z-index: 1;
}

.container {
    margin: 0 135px;
}

.section-title {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
}

.featured--article {
    width: 100%;
    max-height: 470px;
    margin: 50px 0;
}

.featured--article-image {
    width: 570px;
}

.featured--article-text {
    width: calc(100% - 570px);
    padding: 0 30px;
}

.article--text-category {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    color: #7B7B7B;
    margin-bottom: 30px;
}

.article--title {
    font-weight: 500;
    font-size: 23px;
    line-height: 166%;
    margin-bottom: 15px;
    max-width: 369px;
}

.article--date {
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    color: #7B7B7B;
    font-family: 'Lato', sans-serif;
    margin-bottom: 50px;
}

.d-flex__justify--space-between {
    justify-content: space-between;
}

.article--content {
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    color: #565656;
    font-family: 'Lato', sans-serif;
    max-width: 448px;
    letter-spacing: 0.05em;
}

.last-post-image {
    height: 260px;
}

.last-post {
    width: 370px;
}


.section-info {
    margin-bottom: 50px;
    margin-top: 95px;
}

.section-info-link {
    color: #7B7B7B;
}

.popular-post {
    width: 570px;
}

.i {
    width: 20px;
    height: 20px;
}

.search-icon {
    margin-top: 10px;
}

.btn {
    padding: 10px 45px;
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    border: 1px solid #565656;
}

.btn-dark {
    background: #565656;
    color: #FFFFFF;
    transition-property: background;
    transition-duration: 0.5s;
}

.load-more-wrapper {
    margin-top: 64px;
    width: 100%;
    margin-bottom: 70px;
}

.info-text-container {
    max-width: 470px;
}

.info-text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #565656;
    margin: 25px 0;
}

.info-text:first-child {
    margin: 0;
}

.m-0 {
    margin: 0;
}

#info {
    margin-bottom: 90px;
}

.footer {
    padding: 70px 135px 30px;
    background: #F4F4F4;
}

.footer-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
}

.footer-contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.1em;
    margin-bottom: 14px;
}

.d-flex__flex-direction--column {
    flex-direction: column;
}

.social--link:hover path {
    fill: #FFFFFF;
}

.btn-square {
    width: 50px;
    height: 50px;
    padding: 0;
}

.social--link {
    margin: 0 12px;
}

.social--link:hover {
    background: #565656;
}

.copyright-info {
    width: 100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1em;
}

.nav-list--item:hover .nav-list--item-border {
    display: block;
}

.nav-list--item {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    margin: 0 10px;
    height: 18px;
}

.nav-list--item-border {
    border-bottom: 1px solid #000;
    width: 60%;
    display: none;
    margin: auto;
}

.nav {
    margin-right: 84px;
}

img {
    width: 100%;
    height: 100%;
}

.text-link {
    display: initial;
}

.desktop-only {
    display: block;
}

.desktop-hidden {
    display: none;
}

.mobile-only {
    display: none;
}

.section--heading {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: #000000;
}

.last-post--info {
    margin-top: 20px;
}

.section-info-link:hover {
    color: #000000;
    fill: #000000;
    transition-property: color, fill;
    transition-duration: 0.5s;
}

path {
    transition-property: fill;
    transition-duration: 0.5s;
}

.section-info-link:hover path {
    fill: #000000;
}

/* Tablets */
@media only screen and (max-width: 1024px) {
    .desktop-only {
        display: none;
    }

    .main {
        padding-bottom: 0;
    }

    .main--title {
        margin-top: 70px;
    }

    .desktop-hidden {
        display: block;
    }

    .menu--hamburger {
        margin-left: 40px;
        width: 34px;
        height: 20px;
    }

    .container {
        margin: auto;
        width: 700px;
    }

    .featured--article-image {
        width: 340px;
        height: 280px;
    }

    .featured--article-text {
        width: calc(100% - 340px);
        padding: 0 30px;
    }

    .article--date {
        margin-bottom: 15px;
    }

    .header {
        height: 60px;
        padding: 0 35px;
    }

    .section-info {
        margin-top: 70px;
    }

    #info {
        margin-bottom: 70px;
    }

    .background--text {
        top: 90px;
        left: 34px;
        max-width: 700px;
        z-index: 1;
    }

    .last-post, .popular-post {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .last-post {
        margin-bottom: 50px;
    }

    .last-post--text {
        width: calc(100% - 340px);
        padding-left: 20px;
    }

    .last-post-image {
        width: 340px;
        height: 240px;
    }

    .last-post-image a {
        display: initial;
    }

    .popular-post {
        display: flex;
        flex-direction: column;
        max-width: 340px;
    }

    .info-text-container {
        text-align: right;
        margin-top: 50px;
    }

    #info {
        width: 100%;
        justify-content: end;
    }

    .position--title {
        width: 100%;
    }

    .footer {
        text-align: center;
        flex-direction: column;
    }

    .social--list {
        justify-content: center;
        margin-bottom: 40px;
        margin-top: 51px;
    }
}

.btn-dark:hover {
    background: #323232;
}

@media screen and (max-width: 1024px) and (min-width: 580px) {
    .last-post:nth-of-type(even) {
        flex-direction: row-reverse;
    }

    .last-post:nth-of-type(even) .last-post--text {
        padding-right: 20px;
    }
}


/* Mobile */
@media only screen and (max-width: 580px) {
    .header {
        height: 60px;
        padding: 0 35px;
    }

    .mobile-only {
        display: block;
    }

    .background {
        width: 100vw;
    }

    .container {
        width: 100%;
        padding: 0 10px;
    }

    .section-title {
        text-align: center;
    }

    .featured--article {
        width: 100%;
        margin: 50px 0;
        display: flex;
        flex-direction: column-reverse;
        max-height: initial;
    }

    .featured--article-image {
        height: 250px;
        width: 100%;
    }

    .last-post-image {
        width: 100%;
    }

    .featured--article-text {
        width: 100%;
        padding: 0;
        margin-bottom: 37px;
    }

    .last-post--text {
        width: 100%;
    }

    .menu--hamburger {
        margin-left: 20px;
        width: 34px;
        height: 20px;
    }

    .last-post {
        display: flex;
        flex-direction: column;
    }

    .background {
        height: 500px;
        width: 100%;
    }

    .background--text {
        top: 130px;
        max-width: 300px;
    }

    .main--text {
        font-weight: 600;
        font-size: 30px;
        line-height: 50px;
        letter-spacing: 0.05em;
    }

    .last-post {
        display: block;
        flex-direction: column;
        width: 100%;
    }

    .last-post--text {
        max-width: 100%;
    }

    .popular-post {
        max-width: 100%;
    }

    .info-text-container {
        margin-top: 35px;
    }

    .info-text-container {
        text-align: left;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.05em;

    }

    .footer {
        padding: 0 10px;
    }

    .section-info {
        justify-content: start;
        flex-direction: column;
        align-items: start;
        margin-bottom: 30px;
    }

    .last-post--text {
        padding: 0;
    }

    .main--title {
        margin-top: 70px;
        margin-bottom: 50px;
    }

    .section-info-link {
        margin-top: 10px;
    }

    .last-post--text .post--info {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .last-post, .popular-post {
        margin-bottom: 50px;
    }

    .last-post:last-of-type, .popular-post:last-of-type {
        margin: 0;
    }

    .article--text-category {
        margin-bottom: 0;
    }

    .footer-title {
        font-weight: 400;
        font-size: 32px;
        line-height: 42px;
        letter-spacing: 0.05em;
        color: #000000;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .copyright-info {
        margin-bottom: 50px;
    }

    .article--text-category {
        margin-bottom: 30px;
    }

    .article--title {
        margin-bottom: 10px;
    }

    .article--date {
        margin-bottom: 40px;
    }
}
