@font-face {
  font-family: "Bebas_Thin";
  src: url('../fonts/bebas_neue/BebasNeue-Thin.eot') format('eot');
  src: url('../fonts/bebas_neue/BebasNeue-Thin.woff') format('woff'), url("../fonts/bebas_neue/BebasNeue-Thin.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bebas_Bold";
  src: url("../fonts/bebas_neue/BebasNeueBold.eot");
  src: url("../fonts/bebas_neue/BebasNeueBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/bebas_neue/BebasNeueBold.woff") format("woff"),
        url("../fonts/bebas_neue/BebasNeueBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:before,
:after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas_Thin', sans-serif;
}

body {
}

a {
  text-decoration: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

ul {
  list-style: none;
}
