.card {
  background: #F5F3F9;
  width: 370px;
  height: 611px;
  margin: 15px 15px;
  position: relative;

  &--selected {
    &:hover {
      width: 400px;
      height: 675px;


      .card--content {
        padding-top: 15px;

      }

      .card--header {
        height: 184px;
      }

      .card--footer-btn {
        bottom: 70px;
      }

      .card--bg {
        bottom: 92px;
      }
    }

    @include transition(0.5s, all);

    &-badge {
      position: absolute;
      top: 5px;
      right: -30px;
      color: $colorWhite;
      font-size: 24px;
      line-height: 24px;
      letter-spacing: 0.08em;

      .circle--xs {
        top: 0;
        @include round(10px);
      }

      .circle--sm {
        top: 0;
        right: 20px;
        @include round(20px);
      }

      .circle--lg {
        top: 0;
        right: 60px;
        @include round(48px);
      }
    }
  }

  &--bg {
    position: absolute;
    z-index: 0;
    bottom: 57px;
    width: 100%;

    > img {
      width: 100%;
    }
  }


  &--footer-btn {
    position: absolute;
    bottom: -25px;
    z-index: 101;
  }

  .footer {
    &--info {
      font-weight: 300;
      font-size: 11px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.04em;
      color: #A9A9A9;
      position: absolute;
      bottom: 10px;
    }
  }

  &--header {
    height: 164px;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-price {
      font-weight: 200;
      font-size: 60px;
    }

    &-title {
      margin-top: 10px;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      letter-spacing: 0.04em;
    }

    &-currency {
      font-size: 21px;
      line-height: 28px;
      color: #181818;
    }

    &-number {
      font-size: 60px;
      line-height: 60px;
      letter-spacing: 0.08em;
    }

    &-hr {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 0.08em;
    }
  }

  &--content {
    position: relative;
    padding-top: 40px;
    background: transparent;

    &-head::before {
      content: "";
      top: -100px;
      left: 0;
      width: 100%;
      position: absolute;
      height: 0;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      border-top: 170px solid $colorWhite;
    }
  }
}

.btn {
  display: block;
  padding: 20px 50px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  font-family: 'Bebas_Bold', sans-serif;
  @include transition(0.5s, all);

  &-rounded {
    @include rounded(30px)
  }

  &-blue {
    &:hover {
      background: $colorRed;
    }

    color: $colorWhite;
    background: $colorBlue;
  }

  &-red {
    &:hover {
      background: $colorBlue;
    }

    color: $colorWhite;
    background: $colorRed;
  }
}

.circle {
  @include round();
  position: relative;
  background: $colorRed;
}

.tooltip {
  display: none;
  background: $colorBlack;
  color: $colorWhite;
  position: absolute;
  top: 40px;
  padding: 8px 30px;
  z-index: 100;
  @include rounded(50px);

  &--badge:hover + & {
    display: block;
  }

  &:before {
    content: " ";
    position: absolute;
    top: 50%;
    right: 99%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent $colorBlack transparent transparent;
  }
}

.points {
  &--section {
    &-list {
      &-item {
        margin: 30px 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}

