:before,
:after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: $colorBlack;
  cursor: pointer;
}

h1{
  font-size: 28px;
  font-weight: 600;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 50px;
}
