.d-flex {
  display: flex;
  flex-wrap: wrap;

  &__justify--flex-end {
    justify-content: flex-end;
  }
}

.h-100 {
  height: 100%;
}

.d-flex__flex-direction--column {
  flex-direction: column;
}

.d-flex__justify--center {
  justify-content: center;

  @include maxWidth($breakpointTablet) {
    &-tablet {
      justify-content: center !important;
    }
  }
}

.d-flex__align-items--center {
  align-items: center;
}

.d-block {
  display: block;
}

.text {
  &-center {
    text-align: center;
  }

  &-uppercase {
    text-transform: uppercase;
  }
}

.p {
  &-relative {
    position: relative;
  }
}

.d-flex__justify--space-between {
  justify-content: space-between;
}

.d-flex__justify--space-around {
  justify-content: space-around;
}

.w {
  &-50 {
    width: 50%;
  }

  &-100 {
    width: 100%;
  }
}

.h-100 {
  height: 100%;
}

.absolute {
  position: absolute;
}

.container {
  max-width: 70%;
  margin: auto;

  @include minWidth($breakpointSmallDesktop) {
    max-width: 100%;
    padding: 0 110px;
  }
}