$colorBlack: #000000;
$colorWhite: #ffff;
$colorPurple: #5373FD;
$colorDarkGrey: #333333;
$colorDarkGrey1: #232323E5;
$colorBlue: #8692c9;

$breakpointMobile: 576px;
$breakpointTablet: 768px;
$breakpointSmallDesktop: 992px;
$breakpointDesktop: 1200px;
$breakpointLargeDesktop: 1400px;

$mobileContainerW: 540px;
$tabletContainerW: 720px;
$smallDesktopContainerW: 960px;
$desktopContainerW: 1140px;
$largeDesktopContainerW: 1320px;
