$colorBlack: #000000;
$colorWhite: #ffff;
$colorPurple: #5373FD;
$colorDarkGrey: #333333;
$colorDarkGrey1: #232323E5;

$breakpointMobile: 580px;
$breakpointTablet: 768px;
$breakpointSmallDesktop: 1024px;
$breakpointDesktop: 1360px;