@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
}
:before,
:after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all, 0.5s;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.d-flex__justify--flex-end {
  justify-content: flex-end;
}
.d-flex__justify--flex-start {
  justify-content: flex-start;
}

.h-100 {
  height: 100%;
}

.only-mobile {
  display: none;
}
@media screen and (max-width: 576px) {
  .only-mobile {
    display: block;
  }
}

.d-flex__flex-direction--column {
  flex-direction: column;
}

.d-flex__justify--center {
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .d-flex__justify--center-tablet {
    justify-content: center;
  }
}

.d-flex__align-items--center {
  align-items: center;
}

.d-block {
  display: block;
}

.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}

.p-relative {
  position: relative;
}

.d-flex__justify--space-between {
  justify-content: space-between;
}

.d-flex__justify--space-around {
  justify-content: space-around;
}

.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.absolute {
  position: absolute;
}

.container {
  margin: auto;
  max-width: calc(100% - 36px);
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.hidden {
  display: none;
}
@media screen and (max-width: 576px) {
  .hidden-mobile {
    display: none;
  }
}

.text-white {
  color: white;
}

.header {
  padding: 0 135px;
}
.header-logo {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.header--scroll {
  position: absolute;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  font-style: normal;
  color: white;
  animation: MoveUpDown 1s linear infinite;
}
.header--scroll:hover {
  color: #5373FD;
}
.header--scroll:hover path {
  fill: #5373FD;
}

.hero {
  height: 826px;
  width: 100%;
  position: relative;
}
.hero--image {
  position: absolute;
  z-index: 0;
  width: 100%;
}
.hero--image > img {
  height: 826px;
  width: 100%;
}
.hero--footer {
  position: absolute;
  z-index: 9999;
  color: white;
  bottom: 100px;
}
.hero--text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  color: white;
}
@media screen and (max-width: 576px) {
  .hero--text {
    max-width: calc(100% - 36px);
    width: 100%;
  }
}
.hero--text--title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 8px;
  font-family: "Josefin Sans", sans-serif;
}
.hero--text--subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.31em;
  margin-bottom: 48px;
  font-family: "Josefin Sans", sans-serif;
}

.btn {
  border: none;
  font-size: 17px;
  height: 60px;
  width: 213px;
  text-align: center;
  padding: 20px 32px;
  font-family: "Aleo", serif;
  display: block;
  position: relative;
  overflow: hidden;
}
.btn:not(.btn-purple):hover {
  background: white;
  color: #5373FD;
  border: 1px solid #5373FD;
}
.btn:not(.btn-purple):hover path {
  fill: #5373FD;
}
.btn-purple {
  position: relative;
  color: white;
  background: url("../images/Rectangle.png") no-repeat;
}
.btn-purple:after {
  content: "";
  top: 0;
  background: #5373FD;
  display: block;
  height: 100%;
  width: 180px;
  position: absolute;
  z-index: -2;
}
.btn-purple:hover:after {
  background: #8692c9;
}

.search {
  position: relative;
}
.search--button-icon {
  margin-right: 5px;
}
.search--input {
  font-size: 17px;
  float: left;
  width: 650px;
  height: 60px;
  background: #f1f1f1;
  padding-left: 36px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  outline: none;
}
@media screen and (max-width: 768px) {
  .search--input {
    width: 100%;
  }
}
.search--input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 576px) {
  .search--input::placeholder {
    padding: 0;
  }
}
.search--input:focus, .search--input:focus-visible, .search--input:focus-within {
  border: none;
}
.search--input-button {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 50px;
  width: 20%;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  background: #5373FD;
  color: white;
}
.search--input-button-info {
  margin: 12px;
}
.search--input-button path {
  fill: white;
}
.search--input-input--button:hover {
  background: #0b7dda;
}

.scroll {
  height: 120px;
  overflow: scroll;
  overflow-x: hidden;
}

.background {
  position: absolute;
  top: 0;
  z-index: 0;
}

.nav {
  top: 0;
  position: relative;
  z-index: 999;
  width: 100%;
  background: #5373FD;
  color: white;
  height: 84px;
}
.nav--burger-container {
  position: absolute;
  right: 18px;
  top: 40px;
  width: 40px;
}
.nav--burger-item {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 2px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.nav--burger-item::before, .nav--burger-item::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 2px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.nav--burger-item::before {
  content: "";
  margin-top: -9px;
}
.nav--burger-item::after {
  content: "";
  margin-top: 9px;
}
@media screen and (max-width: 768px) {
  .nav {
    height: 136px;
  }
}
@media screen and (max-width: 576px) {
  .nav {
    height: 84px;
  }
}
@media screen and (max-width: 576px) {
  .nav--list-container {
    height: 0;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .nav--wrapper {
    justify-content: center;
  }
}
@media screen and (max-width: 992px) {
  .nav--wrapper {
    flex-direction: column;
    justify-content: center;
  }
}
.nav--list {
  font-family: "Josefin Sans", sans-serif;
  transition: height, 400ms;
}
@media screen and (max-width: 576px) {
  .nav--list {
    height: 0;
    position: absolute;
    top: 30px;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 992px) {
  .nav--list {
    margin-top: 32px;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
.nav--list-item {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0 8px;
}
.nav--list-item:hover * {
  color: rgba(35, 35, 35, 0.8980392157);
}
@media screen and (max-width: 576px) {
  .nav--list-item {
    display: none;
    justify-content: center;
    margin: 0;
    padding: 12px 0;
    width: 100%;
    background-color: #5373FD;
  }
}
.nav--list-item * {
  color: white;
}

#nav--toggler:checked + .nav--list-container .nav--list {
  display: flex;
  height: fit-content;
  flex-direction: column;
}
#nav--toggler:checked + .nav--list-container .nav--list-item {
  display: flex;
}
#nav--toggler:checked + .nav--list-container .nav--burger-item::after {
  top: 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  margin: 0;
}
#nav--toggler:checked + .nav--list-container .nav--burger-item::before {
  top: 0;
  margin: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
#nav--toggler:checked + .nav--list-container .nav--burger-item {
  background-color: transparent;
}

.why--image {
  position: absolute;
  z-index: 0;
}

.about-us {
  height: 704px;
  overflow: hidden;
  position: relative;
}
.about-us--background {
  width: 100%;
  position: absolute;
  height: 100%;
}
.about-us--background > img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 992px) {
  .about-us--background {
    width: initial;
  }
}
.about-us--content {
  position: absolute;
  z-index: 10;
  top: 0;
  padding: 124px 0;
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .about-us--content {
    padding: 60px 0;
  }
}
.about-us--title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 24px;
  font-family: "Aleo", serif;
}
@media screen and (max-width: 768px) {
  .about-us--title {
    text-align: center;
  }
}
.about-us--text {
  width: 50%;
  font-family: "Josefin Sans", sans-serif;
}
@media screen and (max-width: 992px) {
  .about-us--text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.about-us--description {
  margin-bottom: 32px;
}
.about-us--description-paragraph {
  color: white;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 768px) {
  .about-us--description-paragraph {
    width: 100%;
  }
}
.about-us--description-paragraph:last-child {
  margin-top: 20px;
}
@media screen and (max-width: 992px) {
  .about-us--wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media screen and (max-width: 992px) {
  .about-us--images {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 992px) {
  .about-us--image {
    width: 50%;
    margin: 0 12px;
  }
  .about-us--image > img {
    width: 100%;
  }
}
.about-us--image:first-child {
  margin-bottom: 16px;
}
@media screen and (max-width: 992px) {
  .about-us--image:first-child {
    margin: 0;
  }
}
@media screen and (min-width: 992px) {
  .about-us--image:last-child {
    margin-left: 80px;
  }
}

.footer {
  background: #000000;
  color: white;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer--title {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.footer--subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  margin-bottom: 22px;
}
.footer--links {
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
}
.footer--links-item {
  margin: 0 10px;
}
.footer--links-item:hover path {
  fill: #5373FD;
}

.steps {
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #333333;
  height: 300px;
}
@media screen and (max-width: 992px) {
  .steps {
    height: initial;
    padding: 60px;
  }
}
.steps--background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 0;
}
@media screen and (max-width: 992px) {
  .steps--background {
    display: none;
  }
}
.steps--background > .steps--background-wrapper {
  margin-bottom: 150px;
}
.steps--icon {
  background: #333333;
  height: 96px;
  width: 96px;
  border-radius: 50%;
}
@media screen and (max-width: 992px) {
  .steps--icon {
    height: initial;
  }
}
.steps--item {
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
  color: white;
  z-index: 10;
}
@media screen and (max-width: 992px) {
  .steps--item {
    margin-bottom: 60px;
  }
  .steps--item:last-child {
    margin: 0;
  }
}
@media screen and (max-width: 992px) {
  .steps--main {
    flex-direction: column;
  }
}

.book-now {
  position: relative;
  height: 712px;
  overflow: hidden;
}
.book-now--background {
  width: 100%;
  height: 100%;
  position: absolute;
}
.book-now--background > img {
  width: 100%;
  height: 100%;
}
.book-now--window {
  background: rgba(35, 35, 35, 0.8980392157);
  padding: 44px 32px;
  opacity: 0.9;
  max-width: 560px;
}
@media screen and (max-width: 992px) {
  .book-now--window {
    max-width: 100%;
  }
}
.book-now-btn {
  width: 210px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.book-now--description {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
}
.book-now--description--country {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: white;
  margin-bottom: 16px;
}
.book-now--description--name {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.book-now--description--info {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: white;
  letter-spacing: 0.1em;
  margin-bottom: 24px;
}

.tourists {
  position: relative;
  overflow: hidden;
  min-height: 680px;
}
@media screen and (max-width: 992px) {
  .tourists {
    height: 925px;
  }
}
@media screen and (min-width: 992px) {
  .tourists--photo {
    max-width: 33%;
  }
  .tourists--photo > img {
    height: 100%;
  }
}
@media screen and (max-width: 992px) {
  .tourists--photo > img {
    width: 100%;
  }
}
.tourists--info {
  width: 100%;
}
@media screen and (max-width: 992px) {
  .tourists--info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.tourists--info__opinion {
  background-color: #333333;
  padding: 45px 55px;
}
@media screen and (min-width: 992px) {
  .tourists--info__opinion {
    max-width: 66%;
  }
}
.tourists--info__name {
  font-family: "Josefin regular", sans-serif;
  font-size: 20px;
  color: white;
  line-height: 1.5;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.tourists--info__text {
  font-family: "Josefin regular", sans-serif;
  font-size: 16px;
  color: #d0d0d0;
  line-height: 1.5;
  position: relative;
}
@media screen and (min-width: 992px) {
  .tourists--info--content {
    max-width: 70%;
    margin: auto;
  }
}
.tourists--section__title {
  font-family: "Aleo", serif;
  font-size: 36px;
  color: white;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 120px;
}
@media screen and (max-width: 992px) {
  .tourists--section__title {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
.tourists--background {
  width: 100%;
  position: absolute;
  height: 100%;
}
.tourists--background > img {
  width: 100%;
  height: 100%;
}
.tourists--content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.text--quote {
  margin-bottom: 5px;
}

/*# sourceMappingURL=app.css.map */
