.article {
  margin-top: 100px;

  &--img {
    float: right;

    &__reversed {
      float: left;

    }
  }

  &--content {
    margin: auto;
    max-width: 505px;
  }

  &--subtitle {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
  }

  &--title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #2F281E;
    margin-bottom: 20px;
  }

  &--text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    margin-bottom: 40px;
  }

  &--list {
    &__text {
      max-width: 440px;
    }

    &-item {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 26px;
      color: #2F281E;
      margin-bottom: 10px;

      &-text {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #544837;
      }
    }

    &-background {
      background: #FF9900;
      width: 35px;
      height: 35px;
      padding: 9px;
      text-align: center;
      vertical-align: middle;
      border-radius: 10px;
    }
  }
}

