:before,
:after,
* {
    margin: 0;
    padding-top: 0;
    box-sizing: border-box;
    transition: all .1s ease-in;
    font-family: 'Trebuchet MS', Trebuchet, Arial, sans-serif;
}

header {
    color: #FF8984;
    background-color: #4A4F56;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 12px;
}

.container {
    width: 60%;
    margin: auto;
}

main {
    background-color: #3B3F45;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 45px;
}

.list_item {
    background: #88839E;
    padding-top: 11px;
    padding-bottom: 13px;
    color: #FFFFFF;
    padding-left: 12px;
}

.inline > * {
    display: inline-block;
}

.main_text {
    font-weight: 400;
    font-size: 18px;
}

.text {
    font-weight: 400;
    font-size: 18px;
}

input[type="checkbox"] {
    margin-right: 12px;
    width: 19px;
    height: 19px;
    accent-color: #fff;
}

input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #9B96AC;
}

.list_item:nth-child(2n) {
    background: #7A7593;
}

.list_item:nth-child(2) {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.list_item:hover {
    border: 3px solid #fff;
    background: #625E77;
    border-left: 0;
    border-right: 0;
}

.finish_button {
    margin-top: 45px;
}

button {
    background-color: #4A4F56;
    color: #FF8984;
    height: 45px;
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
button:after {
    content: ':)';
}
