* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Railway", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.container {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
}

.main {
    padding: 105px 0;
    background-color: #1d1c1c;
}

.main_col {
    display: inline-block;
    max-width: 345px;
    text-align: center;
}

.main_img {
    width: 80px;
    height: 80px;
    background-color: #ffae00;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;
    text-align: center;
    line-height: 80px;
    margin: 0 auto;
}

.main_img img {
    display: inline-block;
    vertical-align: middle;
}

.main_col h2 {
    margin: 40px 0 35px;
    text-align: center;
    font-size: 24px;
}

.center {
    margin: 0 15px;
}

.footer_img {
    text-align: center;
    margin: 0 auto;
}

footer {
    background-color: #2a252b;
}

.footer_text {
    border-bottom: 1px solid #fff;
    text-align: center;
    width: 225px;
    margin: auto;
    padding: 20px 0;
}

.footer_img img {
    margin: 120px 0 32px;
}

.footer_images {
    text-align: center;
    margin-top: 16px;
}

.footer_images > a {
    margin: 0 8px;
}

.kasper_link {
    color: #19c8fa;
    text-decoration: none;
}

.copyright {
    margin-top: 70px;
    text-align: center;
    padding-bottom: 40px;
}