:before,
:after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F7F7F7;
}

.bg_white {
    background: #fff;
    border-radius: 6px;
}

.btn-primary {
    background: #007BFF;
}

main {
    padding-top: 55px;
}

.name_form {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;
    color: #1C1C1C;
}

.sign_up_wrapper {
    padding: 35px;
    height: 600px;
}

.sign_up {
    width: 100%;
}

.label_custom {
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 15px;
    color: rgba(84, 84, 84, 1);
}

.input_custom {
    margin-bottom: 20px;
}

.text_info {
    font-weight: 400;
    font-size: 13px;
}

.sign_up_info {
    max-width: 410px;
}

.color_grey {
    color: rgba(150, 150, 150, 1);
}

.margin_radio {
    margin-right: 21px;
}

a {
    text-decoration: none;
}

.login-link {
    margin-left: 20px;
}

.img_round {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

#photo {
    display: none;
}

.delete_button {
    border: 1px solid #E4E4E4;
    height: 30px;
    width: 30px;
    border-radius: 6px;
    background: transparent;
    padding-bottom: 9px;
}

.photo_button {
    height: 30px;
    width: 138px;
    border-radius: 6px;
    border: 1px solid #E4E4E4;
    cursor: pointer;
}

.photo_button > img {
    margin: 9px;
}

label {
    cursor: pointer;
}

.form-control:focus, .form-check-input:active, .form-check-input:checked {
    border-color: rgba(0, 123, 255, 1);
    box-shadow: none;
}

.form_small {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.2px;
    color: #545454;
}

.update_btn {
    width: 150px;
}

.form-control[type="select"], .form-control[type="text"] {
    padding: 8px 10px;
    font-size: 15px;
    line-height: 22px;
}

.form-control {
    border: 1px solid #E4E4E4;
}

hr {
    color: #E4E4E4;
    margin: 0;
    opacity: 1;
}

.file_limit {
    margin-top: 9px;
}

.form-control[type="radio"] {
    width: 20px;
    height: 20px;
}

.click_info {
    margin-bottom: 20px;
}

.form_text {
    margin-top: 20px;
}

.form-check-label {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.2px;
    color: #545454;
    margin: auto;
    vertical-align: middle;
    padding-top: 2px;
}

.form-check-input {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.email_share {
    margin-top: 7px;
}
