:before,
:after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.d-flex {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

a {
    cursor: pointer;
}

.header {
    width: 100%;
    padding: 29px 0;
    vertical-align: middle;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: relative;
    background: #FFFFFF;
    border-bottom: 1px solid #BDBDBD;
}

header > * {
    vertical-align: middle;
}

.d-flex__justify--space-between {
    justify-content: space-between;
}

.container {
    width: 80%;
    margin: auto;
}

.who-we-are {
    padding-top: 150px;
    padding-bottom: 150px;
}

.who-we-are__highlight {
    width: 45px;
    height: 4px;
    background: #DDDBDB;
    margin: 20px 0 40px;
}

.wrapper {
    background: rgba(246, 246, 246, 1);
}

.button {
    text-align: center;
    padding: 10px 20px;
    width: 130px;
    height: 42px;
    border: 1px solid #3C3C3C;
    background: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover {
    color: rgba(255, 255, 255, 1);
    background: rgba(24, 181, 220, 1);
    border: rgba(24, 181, 220, 1);
}

.who-we-are__main-heading {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.13em;
    text-transform: uppercase;
}

.who-we-are__text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    max-width: 570px;
    text-align: center;
    margin-bottom: 60px;
}


.who-we-are__team-member-info {
    position: relative;
    width: 50%;
    max-width: 300px;
}

.who-we-are__photo-overlay {
    position: absolute;
    background: #18B5DC;
    color: #f1f1f1;
    width: 100%;
    opacity: 0;
    height: 100%;
    font-size: 20px;
    top: 0;
    padding: 20px;
    text-align: center;
}

.who-we-are__photo {
    width: 270px;
    height: 270px;
    margin-bottom: 20px;
}

.who-we-are__photo:hover .who-we-are__photo-overlay {
    opacity: 1;
    height: 270px;
}

.who-we-are__team-member {
    width: 270px;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}

a {
    text-decoration: none;
}

.d-flex__align-items__center {
    align-items: center;
}

.who-we-are__social-link {
    margin-left: 2px;
    margin-right: 2px;
}

.who-we-are__team-member-name {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.who-we-are__team-member-position {

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #646464;
}

.nav-list, .footer-nav-list {
    list-style: none;
}

.footer-nav-list{
    margin-top: 32px;
}
.nav-list__item-link {
    color: #000000;
    margin-left: 15px;
    margin-right: 15px;
    text-transform: uppercase;
}

.nav-list__item-link:hover {
    color: #18B5DC;
}

.d-flex__flex-direction--column {
    flex-direction: column;
}

.social-list__item__default {
    display: block;
}

.social-list__item__hover {
    display: none;
}

.social-list__item:hover > .social-list__item__default {
    display: none;
}

.social-list__item:hover > .social-list__item__hover {
    display: block;
}

.social-list__item{
    margin: 28px 5px 40px;
}