.header {
  margin-top: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: 80px;
  padding: 0 30px;
  background: $colorWhite;
  width: 100%;
  flex: 1;
  margin-left: 25px;

  &--icon {
    margin: 0 10px;
  }

  &--link {
    display: flex;
  }

  &--language {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $colorGrayDark;
    margin-left: 10px;
    margin-right: 60px;
  }

  &--avatar {
    @include round(36px);
  }
}

.navbar {
  &--toggle {
    display: none;
  }
}

.sidebar {
  width: 86px;
  background: $colorWhite;
  height: fit-content;
  top: 0;

  &--delimiter {
    &-long {
      margin: 0 5px;
      width: 13px;
      height: 4px;
      background-color: #9E8CFC;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
    }

    &-short {
      width: 8px;
      height: 4px;
      background-color: #9E8CFC;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
    }
  }

  &--text {
    transition: all 0.5s ease;
    font-size: 0;
    color: $colorGrayDark;
  }

  &--content {
    padding-top: 30px;
    margin-left: auto;
  }

  &--icon-logo {
    margin: 0 25px 40px;
  }

  &--icon-opened {
    display: none;
  }

  &--toggle {
    background: $colorWhite;
    @include round();
    position: absolute;
    top: 35px;
    right: -10px;
  }

  &--section-start {
    margin-top: 30px;
    padding-bottom: 12px;
  }

  @include transition(0.5s, width)
}

#toggle:checked + .sidebar {
  width: 220px;

  .badge {
    right: -11px;
    top: -10px;
  }

  .sidebar {
    &--text {
      font-size: 18px;
    }

    &--toggle {
      right: 15px;
    }

    &--icon {
      position: relative;
      margin: 0 15px 0 20px;

      &-logo {
        margin-left: 0;
      }
    }

    &--delimiter {
      display: none;
    }
  }

  .nav--list-item a {
    justify-content: start;
  }


  .sidebar--icon-closed {
    display: block;
    @include transition(0.5s, all);
    transform: rotate(180deg);
  }
}

.main {
  width: 100%;
}

.nav {
  width: 100%;

  &--section-title {
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    color: $colorGrayLight;
    margin-left: 15px;
  }

  &--list {
    &-item {
      position: relative;
      width: 100%;
      padding: 10px 0;
      height: 46px;

      > a {
        justify-content: center;
      }

      &:hover {
        background: $colorPurpleLight;
        box-shadow: 0 0 20px rgba(158, 140, 252, 0.7);

        .sidebar--text {
          color: $colorWhite;
        }

        path {
          fill: $colorWhite;
        }
      }
    }
  }
}

.a {
}

.badge {
  position: absolute;
  top: 0;
  right: 18px;
  text-align: center;
  color: $colorWhite;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  vertical-align: middle;
  padding-top: 3px;
  @include round();

  &--green {
    background: $colorGreen;
    color: $colorGrayDark;
  }

  &--red {
    background: $colorRed;
  }

  &--yellow {
    background: $colorYellow;
    color: $colorGrayDark;
  }
}

.icon:hover path {
  fill: $colorPurpleLight;
}

.online {
  position: absolute;
  background: $colorGreen;
  border: 1px solid $colorWhite;
  bottom: 0;
  right: 0;
  @include round(10px);
}

.text {
  &--purple {
    &__dark {
      color: $colorPurpleDark;
    }
  }
}

