$colorBackgroundGrey: #E5E5E5;
$colorGrayLight: #BDBDBD;
$colorWhite: #FFFFFF;
$colorPurpleLight: #9E8CFC;
$colorGrayDark: #4F4F4F;
$colorGreen: #6FCF97;
$colorRed: #EA5455;
$colorYellow: #F2C94C;

$breakpointMobile: 580px;
$breakpointTablet: 1024px;